Repository beego/beego, pull requests merged in 2020-06, with the labels that each got.

#3993 fix httplib PostFile method
  httplib/httplib.go
Labels: kind/enhancement

#3985 修复多线程下数据库连接异常问题
  orm/db_alias.go
Labels: area/orm, kind/bug

#4004 avoid `panic: send on closed channel` after closing logger.
  logs/console_test.go
  logs/log.go
Labels: area/log, status/failing-ci

#3992 [Fix-Issue-3991] Fix Read with SQLite not supporting SELECT FOR UPDAT…
  orm/db_sqlite.go
Labels: area/orm, kind/bug, status/failing-ci

#3984 fix bug:static can not real hit cache & memory leak
  admin_test.go
  config.go
  config/json.go
  config_test.go
  staticfile.go
  staticfile_test.go
Labels: area/cache, status/failing-ci

#4005 fix graceful bug
  app.go
  grace/server.go
Labels: status/failing-ci, status/in-review

#3994 update support bit operation
  go.mod
  go.sum
  orm/db.go
  orm/orm_queryset.go
Labels: area/orm, status/in-review
